html{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
}

body{
    box-sizing: border-box;
    height: 700px;
    width: 400px;
    margin: 0px;
    padding: 16px;
    border-radius: 16px;
    
    background-color: rgb(82, 68, 68);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#container-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    background-color: antiquewhite ;
    border-radius: 8px;

    height: 120px;
    width: 100%;
}

#clear-delete{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;
}

#buttons{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    justify-content:center;

    height: 480px;
    width: 100%;
}

.h4,
.h3{
    padding-right: 12px;
    margin: 0px;
}
.h4{
    font-size: 18px;
}
.h3{
    font-size: 56px;
}

.clear,
.delete{
    height: 60px;
    width: 154px;
    border-radius: 6px;
    font-size: 32px;
    border: 0px;
}
.clear{
    background-color: aqua;
}
.delete{
    background-color: brown ;
}
.clear:hover,.delete:hover{
    background-color: rgb(238, 238, 238);
}
.digit{
    width: 80px;
    height: 100px;
    padding: 0px;
    border: 0px;

    font-size: 32px;
    border-radius: 16px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

