html{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aliceblue;
}

body{
    box-sizing: border-box;
    height: 700px;
    width: 400px;
    margin: 0px;
    
    background-color: rgb(82, 68, 68);
}